<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
        <title>Movie search</title>
    </head>
    <body>
        <div class="background-image"></div>
        <div class="search-box">
            <!-- <h2 type="">Movie Search</h2> -->

            <input class="search-txt" type="text" name="seachText" placeholder="Search Movie...">
            <a class="search-btn" type="text" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </body>
</html>
